[Unit]
Description=Raspberry PI Chromium Kiosk 
Requires=graphical.target
After=graphical.target

[Service]
EnvironmentFile=/etc/rpi-chromium-kiosk/env
ExecStart=/usr/bin/chromium-browser --disable-session-crashed-bubble --noerrdialogs --disable-infobars --kiosk "${RPI_KIOSK_URL}"
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target